<!DOCTYPE html> <html>
  <head>
    <title><%= package %></title>
    <base href="/<%= service %>/ui/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pub/styles.css">

    <script type="text/javascript" src="../dist/polyfills.dist.js"></script>
    <script type="text/javascript" src="../dist/vendor.dist.js"></script>
  </head>

  <body>
    <index-link index="dist" service="<%= service %>"></index-link>
    <rest-bundle-identity service="<%= service %>" description="Distribution RestBundleIdentityComponent">
        Loading RestBundleIdentityComponent content here ...
    </rest-bundle-identity>
    <script type="text/javascript" src="../dist/app.dist.js"></script>
  </body>
</html>
