.rb-component {
    border: 1pt solid #ccc;
    background-color: #ffffff;
    margin: 0.1em;
}
.grid-cell-data {
    text-align: left;
    vertical-align: top;
    padding: 0.1em;
}
.grid-cell-header {
    font-weight: 700;
}
.icon-ok {
    color: #3a3;
}

body {
    padding: 10px;
}
